beautifulsoup4==4.4.1
bs4==0.0.1
cycler==0.10.0
h2==2.3.1
hpack==2.2.0
hyper==0.6.2
hyperframe==3.2.0
matplotlib==1.5.1
numpy==1.11.1
pyparsing==2.1.5
python-dateutil==2.5.3
pytz==2016.4
requests==2.20.0
six==1.10.0
tabulate==0.7.5
urllib3==1.26.5
